*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-4{
    width: 33.3% !important;
}

.col-6{
    width: 50% !important;
}

.main{
    width: 450px;
    
}

.main .all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    padding: 20px;
}

.main .all .btn-div{
    text-align: center;
    
}

.main .all .btn-div button{
    padding: 10px;
    min-width: 120px;
}

